.divIcon {
  width: 100%;
  height: 200px;
  text-align: center;
  align-items: center;
  .textIcon {
    color: #ff380b;
    padding-top: 25px;
  }
  .iconPhone {
    svg {
      width: 100px !important;
      height: 100px !important;
      color: #ff380b;
    }
  }
}
.divHotline {
  width: 100%;
  height: 58px;
  background: #ff380b;
  .textHotline {
    color: white;
    padding-top: 15px;
    padding-left: 5%;
  }
  .textPhone {
    color: white;
    padding-top: 15px;
    padding-right: 5%;
  }
}
.divSaleTicket {
  width: 100%;
  height: 58px;
  text-align: center;
  align-items: center;
  h2 {
    padding-top: 15px;
    color: #ff380b;
  }
}
.slide-image {
  .divImageSale {
    width: 100%;
    height: 200px;
  }
  
}
