   .header
   {
       border-top: 3px solid #F04D24;
       height: 50px !important;
       .ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
        background-color: #F04D24 !important;
    }
    .ant-menu-item
    {
        padding: 0 40px !important;
    }
    // .ant-menu-item:hover
    // {
    //    background-color: #F04D24 !important;
    // }
    .logo {
        width: 230px;
        height: 100%;
        float: left;
        text-align: center;
        align-items: center;
        padding-left: 15px;
        h3{
            color: white;
            font-size: 31px;
            margin-top: -8px;
        }
        .img-logo
        {
            width: 100%;
            height: 100%;
        }
      }
   }
   