.divtong {
  height: 530px;
  //width: 100%;
  line-height: 160px;
  background-image: url("https://img.thuthuatphanmem.vn/uploads/2018/10/11/anh-dep-may-bay-cuoi-chieu_041751300.jpg");
  overflow: hidden;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: 100% 530px;
}

// .ant-carousel .slick-slide h3 {
//   color: #fff;
// }
.divFormSearch {
  width: 85%;
  height: 220px;
  background:rgba(255, 153, 51, 0.9);
  border-radius: 10px;
  margin-top: 280px;
  margin-left: 100px;
  position: relative;
  //text-align: center;
  //align-items: center;
  .formInputSearch{
    text-align: center;
    align-items: center;
    padding-top: 70px;
  }
  .titleAirplane{
    width: 200px;
    height: 30px;
    position: absolute;
    left: 5%;
    top: 10px;
  }
  .radiobtn
  {
    position: absolute;
    left: 5%;
    top: 80px;
  }
}
